/* Author:Sachith;
    Theme:Food Order Website admin;
    Version:1.0;
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    border: 1px solid black;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    border: 1px;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.edit-btn{
    color: #2ecc71;
}
.edit-btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.delete-btn{
    color: #e74c3c;
}
.delete-btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.change-password-btn{
    color: blue;
}
.btn-primary{
    background-color: #3498db;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10%;
}
.btn-primary:hover{
    opacity: 95%;
}
.col{
    flex-direction: row;
}
.tbl-30{
    width: 30%;
    
}
.success{
    color:#2ecc71;
}
.error{
    color: #e74c3c;
}
/* css for menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #fc5c65;
}
.menu ul li a:hover{
    color: #eb3b5a;
}

/* css for main content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;

}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* css for footer */
.footer{
    background-color: #fc5c65;
    color: white;
    border: white;
}